SERVER_PORT=25565
SERVER_TYPE=VANILLA
SERVER_VERSION=LATEST
SERVER_MEMORY=4G
DIFFICULTY=normal
GAME_MODE=survival
MOTD=A Minecraft Server
MAX_PLAYERS=20
ENABLE_WHITELIST=false
WHITELIST=
OPS=
RCON_PASSWORD=changeme
BACKUP_INTERVAL=6h
BACKUP_RETENTION_DAYS=7
