SERVER_PORT=25565
SERVER_TYPE=VANILLA
SERVER_VERSION=LATEST
MODS=
REMOVE_OLD_MODS=false
MODRINTH_PROJECTS=
MODRINTH_DOWNLOAD_DEPENDENCIES=required
SERVER_MEMORY=4G
CONTAINER_MEMORY_LIMIT=5G
DIFFICULTY=normal
GAME_MODE=survival
KEEP_INVENTORY=false
MOB_GRIEFING=true
FIRE_SPREAD_RADIUS=-1
DAYLIGHT_CYCLE=true
MOTD=A Minecraft Server
SERVER_ICON=
MAX_PLAYERS=20
VIEW_DISTANCE=8
SIMULATION_DISTANCE=6
ENABLE_WHITELIST=false
WHITELIST=
OPS=
RCON_PASSWORD=changeme
BACKUP_INTERVAL=6h
BACKUP_RETENTION_DAYS=7
PLAYIT_SECRET_KEY=
